.movie-details__container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 4em;
}

.movie-details__info {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    flex-direction: row;
}

.movie-details__info-container {
    padding: 5vh 0;
    margin: auto 0;
    max-width: 70%;
    width: 100%;
}

.movie-details__info-title {
    padding-bottom: 1em;
    font-size: 1.5em;
    margin: 0 auto;
}

.movie-details__info-page {
    padding-bottom: 2em;
    font-size: 1em;
}

.movie-details__add-info-title {
    max-width: 300px;
    text-align: center;
}

.movie-details__more-info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50vw;
    margin: 0 auto;
}