.movies__title {
    max-width: 370px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: normal;
}

.movies__line {
    margin: 40px auto;
    max-width: 600px;
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(200, 200, 100, 0.5);
}

.movies__container {
    max-width: 1265px;
    width: 100%;
    margin: 0 auto;
}

.movies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.movies__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.movies__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(39, 39, 22, 0.6);
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    text-align: center;
    padding: 30% 5% 0;
}

.movies__item-description {
    font-size: 1.1em;
    color: #b7b7aa;
}

.movies__item .movies__item-overlay:hover {
    opacity: 1;
}

.movies__item .movies__item-overlay .movies__item-description {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.movies__item .movies__item-overlay:hover .movies__item-description {
    opacity: 1;
    transform: translateY(110px);
}